.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;

  .title {
    user-select: none;
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex: 1;

    a {
      text-decoration: none;
    }
  }
}
